ul.nav {
  list-style-type: none;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #588b8b;
  margin: 0;
  padding: 0;
}

li.nav {
  display: inline;
  padding: 10px;
  margin: 50px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 140%;
}

li a:hover {
  color: white;
  background-color: #ced4da;
  font-size: 150%
    
}


